.bg {
  background-image: url("../assets/bg-login.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .divider {
  position: relative;
  text-align: center;
  margin: 20px 0;
  content: "";
  background-color: #2f2f2f;
} */
