body {
  font-family: "Arial", sans-serif;
  background-color: #f2f3f7;
}

.slidebar {
  height: 90vh !important;
}

.nav-link {
  transition: all 0.2s;
}

.object-fit {
  object-fit: cover;
}

.dark-theme {
  background-color: #292929 !important;
  color: white;
}
