.search-bar {
    width: 280px;
}

.search-bar button {
    border: none;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    color: #818186;
}

.calendar{
    max-width: 500px;
    padding: 24px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar .days {
    display: flex;
    flex-wrap: wrap;
}

.calendar .day {
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}


/* Process */
.process {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.process-box{
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.process-item {
    width: 3px;
    height: 30px;
    margin: 0 10px;
}

.cl-1{
    background-color: #2da7a6;
}

.cl-2{
    background-color: #ffc44a;
}

.cl-3{
    background-color: #9b7ecc;
}

.cl-4{
    background-color: #ff947e;
}